* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(189, 249, 189);
}
.container {
  justify-self: center;
  width: fit-content;
  height: fit-content;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.moles {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 12px;
}
.holes {
  width: 200px;
  height: 200px;
  border: solid 1px rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
}

.mole {
  width: 200px;
  height: 200px;
  position: relative;
  transition: top 0.3s;
  object-fit: contain;
  top: 100%;
}
.hole {
  width: 200px;
  height: 80px;
  object-fit: contain;
  /* z-index: 99; */
  position: absolute;
  bottom: -20px;
}

button {
  width: 100px;
  height: 45px;
  background-color: rgb(122, 122, 241);
  color: white;
  border-radius: 25px;
}
